@font-face {
    font-family: 'Hanken Grotesk';
    src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}


body {
    font-family: 'Hanken Grotesk', sans-serif;
}

h1 {
    display: none;
}

.panel h2 {
    font-size: 1em;
    color:red;
}

.summary_line {
    width: 80vw;
    margin: 1rem auto;
    padding: 1rem;
}

.summary_line_score {
    float: right;
}

#result_hdg {
    font-size: 1em;
    font-weight: .05em;
    color:aquamarine;    
}

#total_score {
    font-size: 3rem;
    font-weight: 2rem;    
}

#summary_groups {
    box-sizing: border-box;
    margin: 0 auto;
}

#reaction {
    color:  hsl(0, 100%, 67%);
    background-color:  hsla(0, 100%, 67%, 0.132);
}