@font-face {
    font-family: 'Hanken Grotesk';
    src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

/* housekeeping and variables */


html, body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 62.5%; /*sets the base font-size(rem) to 10px so 2.1rem = 21px*/
    margin: 0;
    box-sizing: border-box;
}

/* ask Danilo about hidden h1 */
h1 {
    display: none;
}

.panel {
    border-radius: 1.2rem;
    background-color: chartreuse;
}

.panel h2 {
    font-size: 1em;
    color:red;
}

.summary_line {
    width: 80vw;
    margin: 1rem auto;
    padding: 1rem;
}

.summary_line_score {
    float: right;
}

#result_hdg {
    font-size: 1.25em;
    color:yellow;  
}

#total_score {
    font-size: 3rem;
    font-weight: 2rem;    
}

#summary_groups {
    box-sizing: border-box;
    margin: 0 auto;
}

#reaction {
    color:  hsl(0, 100%, 67%);
    background-color:  hsla(0, 100%, 67%, 0.132);
}


/* From Frontend Mentor */
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
